<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.creat.mapper.DocumentMapper">
    <update id="updateDeleted">
        UPDATE document
        SET deleted = 0,
            folder_id = #{FolderId}
        WHERE id = #{documentId}
    </update>

    <delete id="purgeDeleteById">
        DELETE FROM document WHERE id = #{documentId}
    </delete>


    <select id="selectTrashedDocuments" resultType="asia.creat.entity.Document">
        SELECT id,
               space_id,
               folder_id,
               name,
               file_type,
               file_size,
               file_path,
               description,
               upload_by,
               deleted,
               created_at,
               updated_at
        FROM document
        WHERE deleted = 1
          AND space_id = #{spaceId}
    </select>

    <select id="selectDeletedDocument" resultType="asia.creat.entity.Document">
        SELECT id,
               space_id,
               folder_id,
               name,
               file_type,
               file_size,
               file_path,
               description,
               upload_by,
               deleted,
               created_at,
               updated_at
        FROM document
        WHERE id = #{documentId}
          AND deleted = 1
    </select>

    <select id="listDocumentsByTag" resultType="asia.creat.entity.Document">
        SELECT d.id,
               d.space_id,
               d.folder_id,
               d.name,
               d.file_type,
               d.file_size,
               d.file_path,
               d.description,
               d.upload_by,
               d.deleted,
               d.created_at,
               d.updated_at
        FROM document d
                 JOIN document_tag dt ON d.id = dt.document_id
        WHERE d.space_id = #{spaceId}
          AND d.deleted = 0
          AND dt.tag_id = #{tagId}
    </select>
    <select id="searchDocuments" resultType="asia.creat.entity.Document">
        SELECT DISTINCT d.id,
                        d.space_id,
                        d.folder_id,
                        d.name,
                        d.file_type,
                        d.file_size,
                        d.file_path,
                        d.description,
                        d.upload_by,
                        d.deleted,
                        d.created_at,
                        d.updated_at
        FROM document d
                 LEFT JOIN document_tag dt ON d.id = dt.document_id
                 LEFT JOIN tag t ON dt.tag_id = t.id
        WHERE d.space_id = #{spaceId}
          AND d.deleted = 0
          AND (
              /*匹配 name description tags*/
            MATCH(d.name) AGAINST(#{keyword} IN BOOLEAN MODE)/*名称*/
                OR MATCH(d.description) AGAINST(#{keyword} IN BOOLEAN MODE)/*描述*/
                OR t.name LIKE CONCAT('%', #{keyword}, '%') /*标签*/
            )
    </select>

    <select id="listAccessibleRecentDocuments" resultType="asia.creat.vo.RecentDocumentVO">
        SELECT d.id         AS document_id,
        d.space_id   AS space_id,
        s.name       AS space_name,
        d.name       AS name,
        d.file_type  AS file_type,
        d.file_size AS file_size,
        d.updated_at AS updated_at
        FROM document d
        INNER JOIN space s
        ON s.id = d.space_id
        AND s.deleted = 0
        INNER JOIN space_member sm
        ON sm.space_id = d.space_id
        AND sm.user_id = #{userId}
        WHERE d.deleted = 0
        AND d.id IN
        <foreach collection="documentIds"
                 item="documentId"
                 open="("
                 separator=","
                 close=")">
            #{documentId}
        </foreach>
    </select>

</mapper>